<!DOCTYPE html>
<html>
<head>
    <title>User's Details</title>
</head>
<body>
    <h1>User Details</h1>
    {% if user %}
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Preferences</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user['id'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['first_name'] }}</td>
                <td>{{ user['last_name'] }}</td>
                <td>{{ user['preferences'] }}</td>
                <td>{{ user['role'] }}</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>No user data available.</p>
    {% endif %}

    <p>Go back to your Homepage. <a href="{{ url_for('my_home') }}">Homepage</a></p>
    <p>Go back to your Profile. <a href="{{ url_for('my_profile') }}">My Profile</a></p>
    <p>Go back to your Admin's Dashboard. <a href="{{ url_for('admins_dashboard') }}">Admin's Dashboard</a></p>
    <p>Logout of your portal here. <a href="{{ url_for('logout') }}">Logout</a></p>
</body>
</html>
