{% block content %}
<h2>Admin's Review</h2>
<p>Go back to your Homepage. <a href="{{ url_for('my_home') }}">Homepage</a></p>
    <p>Go back to your Profile. <a href="{{ url_for('my_profile') }}">My Profile</a></p>
    <p>Go back to your Researcher's Dashboard. <a href="{{ url_for('researchers_dashboard') }}">Researcher's Dashboard</a></p>
    <p>Logout of your portal here. <a href="{{ url_for('logout') }}">Logout</a></p>


<!-- Display Admin Reviews -->
<div id="admin-review-list">
    {% for review in reviews %}
        <div class="review-entry">
            <p><strong>Date:</strong> {{ review.review_date.strftime('%Y-%m-%d') }}</p>
            <p><strong>Review Text:</strong> {{ review.review_text }}</p>
        </div>
    {% endfor %}
</div>

<style>
    .review-entry {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
</style>
{% endblock %}
